<template>
    <ais-instant-search
            :search-client="searchClient"
            index-name="movies_index"

    >
        <ais-search-box placeholder="Search movies..."></ais-search-box>

        <ais-hits>
            <template
                    slot="item"
                    slot-scope="{ item }"
            >
                <h1>
                    <a :href="'/movies/' + item.id">
                        <ais-highlight
                                :hit="item"
                                attribute="title"
                        />
                    </a>
                </h1>
                <h4>
                    <ais-highlight
                            :hit="item"
                            attribute="year"
                    />
                </h4>
                <a :href="'/movies/' + item.id">
                    <img :src="'/images/' + item.image_url" width="200">
                </a>
            </template>
        </ais-hits>
        <ais-configure :hits-per-page.camel="8"/>
    </ais-instant-search>
</template>

<script>
  import algoliasearch from 'algoliasearch/lite';

  const algoliaClient = algoliasearch(
    process.env.MIX_ALGOLIA_APP_ID,
    process.env.MIX_ALGOLIA_SEARCH
  );
  const searchClient = {
    async search(requests) {
      // change conditional if any of the other facets are faked"
      if (requests.every(({params: {query}}) => Boolean(query) === false)) {
        return {
          results: requests.map(params => {
            // fake something of the result if used by the search interface
            return {
              processingTimeMS: 0,
              nbHits: 0,
              hits: [],
              facets: {},
            };
          }),
        };
      }
      return algoliaClient.search(requests);
    },
    async searchForFacetValues(requests) {
      return algoliaClient.searchForFacetValues(requests);
    },
  };


  export default {
    data() {
      return {
        searchClient,
      };
    },
  };
</script>